<div class="user-list">
  <h2>Users</h2>
  <input type="text" placeholder="Search users" [(ngModel)]="searchTerm" (input)="filterUsers()">
  <ul>
    <li *ngFor="let user of paginatedUsers">
      {{ user.username }} - {{ user.email }}
    </li>
  </ul>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

  
