.dashboard {
  text-align: center;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted the min size */
  gap: 10px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px; /* Adjusted padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.product-image {
  width: 60%; /* Further reduced width */
  height: auto;
  margin: 0 auto; /* Center the image */
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; /* Adjusted margin */
}

.product-card h3 {
  font-size: 1em; /* Adjusted font size */
  margin-bottom: 5px; /* Adjusted margin */
}

.product-card p {
  font-size: 0.9em; /* Adjusted font size */
  color: #007bff;
  margin-bottom: 10px; /* Adjusted margin */
}

.product-card button {
  padding: 8px; /* Adjusted padding */
  font-size: 0.8em; /* Adjusted font size */
  background-color: #0b9422;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px; /* Adjusted margin */
}

.product-card button:hover {
  background-color: #0b9e12;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 15px; /* Adjusted padding */
  margin: 0 5px; /* Adjusted margin */
  background-color: #099415;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
}

.pagination span {
  font-size: 1em; /* Adjusted font size */
}
